absl-py==0.11.0
autopep8==1.5.5
certifi==2021.5.30+computecanada
charset-normalizer==2.0.6+computecanada
click==8.0.1+computecanada
configparser==5.0.2+computecanada
cycler==0.10.0+computecanada
decorator==4.4.2+computecanada
docker-pycreds==0.4.0+computecanada
easyocr==1.2.1
gitdb==4.0.7+computecanada
gitpython==3.1.24+computecanada
grpcio==1.33.2
idna==3.2+computecanada
imageio==2.9.0
importlib-metadata==3.4.0
kiwisolver==1.3.1+computecanada
Markdown==3.3.3
matplotlib==3.1.1+computecanada
networkx==2.5+computecanada
numpy==1.21.0+computecanada
olefile==0.46
opencv-python==4.5.1.48+computecanada
pandas==1.3.0+computecanada
pathtools==0.1.2+computecanada
Pillow==7.0.0+computecanada
Pillow-SIMD==7.0.0.post3+computecanada
promise==2.3+computecanada
protobuf==3.14.0
psutil==5.8.0+computecanada
pycodestyle==2.6.0
pyparsing==2.4.7+computecanada
python-bidi==0.4.2
python-dateutil==2.8.1+computecanada
python-Levenshtein==0.12.0+computecanada
pytz==2021.3+computecanada
PyWavelets==1.1.1+computecanada
PyYAML==5.3.1+computecanada
requests==2.26.0+computecanada
scikit-image==0.18.1+computecanada
scipy==1.7.0+computecanada
sentry-sdk==1.3.1+computecanada
shortuuid==1.0.1+computecanada
six==1.15.0+computecanada
smmap==4.0.0+computecanada
subprocess32==3.5.4+computecanada
tensorboard==1.15.0
termcolor==1.1.0+computecanada
tesserocr==2.5.1
tifffile==2021.2.1
toml==0.10.1
torch==1.8.0+computecanada
torchvision==0.9.1+computecanada
tornado==6.1+computecanada
tqdm==4.61.2+computecanada
typing-extensions==3.7.4.3+computecanada
Unidecode==1.1.1
urllib3==1.26.7+computecanada
wandb==0.12.5+computecanada
Werkzeug==1.0.1
yaspin==2.1.0+computecanada
zipp==3.4.0
